{% extends "base.html" %} {% block title %} Index {% endblock %}
<!-- This is a comment -->

{% block header20_content %}
<h1 class="text-center">Página de Inicio</h1>
{% endblock header20_content %} {% block content %}
<div class="container d-flex justify-content-center flex-column altura-100p">
  <div class="col-6 mx-auto">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ut tempore
      eius repellendus quas, sequi sapiente mollitia culpa incidunt quod
      suscipit aspernatur atque, corrupti quae dolore animi aliquam quaerat
      vero?
    </p>
  </div>
</div>
{% endblock %}
